<div class="Top banner">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="Notification.html">Notification</a>
  <a href="News feed.html">News feed</a>
  <a href="Sign up.html">Sign up</a>
  <a href="Unsubscribe.html">Unsubscribe</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
</br>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "350px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script> 
<form>
<p>
             <label>Select the City:</label>
             <select id = "myList">
			   <option value ="0"> </option>
               <option value = "1">American Fall</option>
			   <option value ="1">Blackfoot</option>
			   <option value ="1">Downey</option>
			   <option value ="1">Fort Hall</option>
			   <option value ="1">Grace</option>
			   <option value ="1">Lava Hot Spring</option>
			   <option value ="1">Maladalad</option>
			   <option value ="1">Montpelier</option>
			   <option value ="1">Pocatello</option>
			   <option value ="1">Perston</option>
			   <option value ="1">Soda Spring</option>
             </select>
          </p>
</br>
<input type="submit" value="Find News">
</form>
