{{> head}}

<p>
  Signup for notifications
</p>

<form action="" method="post">
  <label name="signup">
    Sign up
  </label>
  <input type="text" name="signup" />

  <select name="area">
    <option value="pocatello">Pocatello</option>
    <option value="idaho-falls">Idaho Falls</option>
  </select>

  <input type="submit" name="submit" value="Sign up" />
</form>

{{> footer}}
