{{> head}}

<p>
  Unsubscribe from notifications
</p>

<form action="" method="post">
  <label name="unsubscribe">Unsubscribe</label>
  <input type="text" name="unsubscribe" />
  <input type="submit" name="submit" value="Unsubscribe" />
</form>

{{> footer}}
